@page "/table"
@inject CardService CardService
@using FinalProjectFront.Data

<h3>Basic Strategy Trainer</h3>

<br />

<button @onclick="ShuffleDeck">Shuffle Deck</button>
<button @onclick="DealCards">Deal Cards</button>

<br />
<br />

<div>
    <p>Player's Cards: @string.Join(", ", playerCards.Select(card => card.ToString()))</p>
    <p>Dealer's Visible Card: @string.Join(", ", dealerCards.Select(card => card.ToString()))</p>
</div>

@code {
    private List<Card> playerCards = new List<Card>();
    private List<Card> dealerCards = new List<Card>();

    private async Task ShuffleDeck()
    {
        var shuffleResult = await CardService.ShuffleDeck();
        Console.WriteLine($"Shuffle Result: {shuffleResult}");
    }

    private async Task DealCards()
    {
        playerCards.Clear();
        dealerCards.Clear();

        for (int i = 0; i < 2; i++)
        {
            playerCards = await CardService.DealCards(2);
      
        }

        for (int i = 0; i < 1; i++)
        {
            dealerCards = await CardService.DealCards(1);
           
        }
    }
}
