@page "/"

<h1>Blackjack Trainer</h1>

<p>Welcome to Blackjack Trainer. This trainer is designed to help you master basic blackjack strategy WITHOUT losing all of your money :)</p>

<h2>What is Basic Strategy?</h2>
<p>Utilizing Basic Strategy maximizes your chances of winning a hand of blackjack. It's based on the mathematics of the game and helps you make the best decision in each situation. Whether to hit, stand, double down, or split depends on your hand and the dealer's upcard.</p>

<h2>How to Use the App?</h2>
<p>To practice basic strategy, follow these steps:</p>
<ol>
    <li>Go to the <strong>Blackjack Table</strong> page.</li>
    <li>Hit the <strong>Shuffle</strong> button to shuffle the deck of cards.</li>
    <li>Hit the <strong>Deal</strong> button to deal the initial set of cards.</li>
    <li>Review your hand and the dealer's upcard.</li>
    <li>Refer to the <strong>Basic Strategy Review</strong> page to see the recommended move for your situation.</li>
    <li>Decide whether you should hit, stand, double down, or split based on basic strategy.</li>
</ol>

<p>Repeat this process to refine your understanding of basic strategy and improve your blackjack skills.</p>

<p>Enjoy your training and have fun!</p>
